// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.poster
{
	transparent:true;
	-moz-box-shadow: 0 0 3px 3px #181818;
	-webkit-box-shadow: 0 0 3px 3px#181818;
	box-shadow: 0 0 3px 3px #181818;
	margin:5px; 
	border:1px solid #272727;

}
.posterDesc
{
	color:white;
	display:none;
  	position: absolute;
 	background-color: black;
  	z-index: 2;
  	width:170px;
  	height:40px;
  	margin-top:230px;
  	text-align:right;
  	padding-right:10px;
}
.posterPic{
	margin:0px;
	width:300px;
}


